.fighter-card {
    max-width: 30rem;
    
}

.fighter-card-image {
	background: linear-gradient(0deg,
		rgba(64, 61, 61, 1) 10%,
		rgba(239, 52, 50, 1) 100%
	);
	margin: 0;
}

.fighter-card-body {
	padding: 0 $s-size;
	background-color: #403d3d;
}

.fighter-card-body-name {
	margin: 0;
}