.fighter-card {
    max-width: 30rem;
    
}

.fighter-card-image {
	background: linear-gradient(0deg,
		rgba(64, 61, 61, 1) 10%,
		rgba(239, 52, 50, 1) 100%
	);
	margin: 0;
	display: block;
	border: none;
}

.fighter-card-body {
	padding: 0 $s-size;
	background: linear-gradient(180deg, rgba(64, 61, 61, 0.8) 0%, #403D3D 100%);
	color: white;
}

.fighter-card-body-name {
	margin: 0;
	font-size: $l-size;
}

.fighter-card-body-record {
	margin: 0;
	padding: 0 $s-size;
	font-size: $m-size;
}