@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

html {
  font-size: 62.5%;
}

body {
  background: white;
  font-family: 'Roboto Slab', serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
